In [25]:
import numpy as np
import pandas as pd
import os
import json
import pickle
import matplotlib.pyplot as plt

# Day 5

## Pandas DataFrame

In [2]:
#用字典建立
data = {'weekday': ['Sun', 'Sun', 'Mon', 'Mon'],
        'city': ['Austin', 'Dallas', 'Austin', 'Dallas'],
        'visitor': [139, 237, 326, 456]}
vis_1 = pd.DataFrame(data)
vis_1.head()

  weekday    city  visitor
0     Sun  Austin      139
1     Sun  Dallas      237
2     Mon  Austin      326
3     Mon  Dallas      456

In [3]:
#用字串建立
cities = ['Austin', 'Dallas', 'Austin', 'Dallas']
weekdays = ['Sun', 'Sun', 'Mon', 'Mon']
visitors = [139, 237, 326, 456]

list_labels = ['city', 'weekday', 'visitor']
list_cols = [cities, weekdays, visitors]

zipped = list(zip(list_labels, list_cols))
vis_2 = pd.DataFrame(dict(zipped))
vis_2.head()

     city weekday  visitor
0  Austin     Sun      139
1  Dallas     Sun      237
2  Austin     Mon      326
3  Dallas     Mon      456

In [4]:
vis_1.groupby(by="weekday")['visitor'].mean()

weekday
Mon    391
Sun    188
Name: visitor, dtype: int64

In [5]:
vis_1.groupby(by="weekday")['visitor'].sum()

weekday
Mon    782
Sun    376
Name: visitor, dtype: int64

In [14]:
vis_1.groupby(by="weekday")['visitor'].std()

weekday
Mon    91.923882
Sun    69.296465
Name: visitor, dtype: float64

In [7]:
vis_1.groupby(by="weekday")['visitor'].max()

weekday
Mon    456
Sun    237
Name: visitor, dtype: int64

In [8]:
vis_1.groupby(by="weekday")['visitor'].min()

weekday
Mon    326
Sun    139
Name: visitor, dtype: int64

In [9]:
vis_1.groupby(by="weekday")['visitor'].median()

weekday
Mon    391
Sun    188
Name: visitor, dtype: int64

In [12]:
vis_1.groupby(by="weekday")['visitor'].var()

weekday
Mon    8450
Sun    4802
Name: visitor, dtype: int64

## Pandas Data Loading

## .Txt

In [21]:
import pandas as pd

data = []
with open("data/example.txt", 'r') as f:
    for line in f:
        line = line.replace('\n', '').split(',') # 將每句最後的 /n 取代成空值後，再以逗號斷句
        data.append(line)
data

[['id', 'sex', 'age', 'score'],
 ['001', 'F', '20', '77'],
 ['002', 'F', '25', '90'],
 ['003', 'M', '22', '80'],
 ['004', 'F', '30', '66'],
 ['005', 'M', '40', '60'],
 ['006', 'M', '29', '87']]

In [22]:
df = pd.DataFrame(data[1:])
df.columns = data[0]
df

    id sex age score
0  001   F  20    77
1  002   F  25    90
2  003   M  22    80
3  004   F  30    66
4  005   M  40    60
5  006   M  29    87

## .json

In [26]:
with open('data/example01.json', 'r') as f:
    j1 = json.load(f)
j1

{'id': {'0': '001',
  '1': '002',
  '2': '003',
  '3': '004',
  '4': '005',
  '5': '006'},
 'sex': {'0': 'F', '1': 'F', '2': 'M', '3': 'F', '4': 'M', '5': 'M'},
 'age': {'0': '20', '1': '25', '2': '22', '3': '30', '4': '40', '5': '29'},
 'score': {'0': '77', '1': '90', '2': '80', '3': '66', '4': '60', '5': '87'}}

ValueError: Invalid file path or buffer object type: <class 'dict'>